# objects
*.o

# libraries
libxxhash.*

# Executables
xxh32sum
xxh64sum
xxhsum
xxhsum32
xxhsum_privateXXH
xxhsum_inlinedXXH

# Mac OS-X artefacts
*.dSYM
.DS_Store

.vs
x64/Debug
x64/Release
x86/Debug
x86/Release
Release/
*.user


